@use '../../styles/variables' as v;

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: v.$primary-margin-top-bottom v.$primary-margin-left-right;

    .header__text {
        font-size: 16px;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }
    }
}