$white-color: #fff;
$black-color: #000;
$blue-color: #0074BC;
$green-color: #0BE200;
$yellow-color: #FFFB00;
$red-color: #FF0000;
$grey-color: #636363;
$light-grey-color: #a7a7a7;
$dark-grey-color: #474747;

$black-status-color: #000;
$grey-status-color: #777777;
$lightgreen-status-color: #70FF68;
$yellow-status-color: #ffff00;
$red-status-color: #FF0000;
$darkred-status-color: #4b0000;

$primary-margin-top-bottom: 10px;
$primary-margin-left-right: 10px;

$primary-padding: 5px;