@use '../../styles/variables' as v;

.main__node-metrics-graphics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    width: 25vw;

    padding-top: v.$primary-padding;

    @media screen and (max-width: 900px) {
        & {
            width: 170px;
        }
    }

    #CPU-metric-graphic, #disk-metric-graphic, #memory-metric-graphic  {
        position: static;
    }
}