@use '../../../../styles/variables' as v;

.main__node-info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    text-align: center;

    &-comp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 calc(v.$primary-padding * 3);
    }
}