.main__groups-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: calc(100% / 3);
    min-width: calc(100% / 3);

    text-align: center;
}